.flex-container {
    display: flex;
}

#main-container {
    display: flex;
    justify-content: center;
    outline: black solid;
    height: 900px;
}

#form-side {
    flex-direction: column;
    width: 700px;
    padding: 20px;
}

.sub-container {
    width: 600px;
    
}

#img-and-header {
    background-image: url("./img/forest.jpg");
    background-size: 650px;
    width: 30%;
    background-repeat: no-repeat;
    background-position: 50%;
}

.inputbox {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#input-fields {
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 70%
}

#header {
    height: 100px;
    margin-top: 200px;
    justify-content: center;
    background-color: black;
    opacity: 0.5;
}