@font-face {
    font-family: "OdinFont";
    src: url(./font/Norse-Bold.otf);
}

:focus {
    border: blue;
    box-shadow: 2px 2px 5px gray;
    border-radius: 5px;
}

.flex-container {
    display: flex;
}

#main-container {
    display: flex;
    justify-content: center;
    outline: black solid;
    height: 900px;
    font-family: Arial, Helvetica, sans-serif;
}

#form-side {
    flex-direction: column;
    justify-content: center;
    width: 700px;
    /* padding: 5%; */
    background-color: rgb(245, 245, 245);
}

#infotext {
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 30px;
}

#img-and-header {
    background-image: url("./img/forest.jpg");
    background-size: 600px;
    width: 30%;
    background-repeat: no-repeat;
    background-position: 50%;
    max-width: 550px;
}

.inputbox {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 10%;
}

#input-fields {
    flex-wrap: wrap;
    width: 90%;
    font-size: 0.75rem;
}

.input-pairing {
    display: flex;
    width: 100%;
}

.shadow-box {
    box-shadow: 0px 5px 5px lightgray;
    background-color: white;
    padding: 5px 0px 10px 0px;
}

#header {
    height: 100px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "OdinFont";
    font-size: 2.5em;
    padding: 20px 0px 20px 0px;
}

#logo {
    height: 2.5em;
}

.padding-left {
    padding-left: 40px;
}

#create-button {
    background-color: #596D48;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 15px 60px 15px 60px;
    border-radius: 8px;
    border: none;
    box-shadow: 2px 2px 5px gray;
    margin: 30px 0px; 
}

input {
    border-radius: 5px;
    border: 1px solid #E5E7EB;
    padding: 7px 10px;
    font-size: 1rem;
}

input:invalid {
    border: 1px solid red;
}

a {
    color: #596D48;
    text-decoration: none;
    font-weight: bold;
}