@font-face {
    font-family: "OdinFont";
    src: url(./font/Norse-Bold.otf);
}

.flex-container {
    display: flex;
}

#main-container {
    display: flex;
    justify-content: center;
    outline: black solid;
    height: 900px;
}

#form-side {
    flex-direction: column;
    justify-content: center;
    width: 700px;
    padding: 5%;
}

.sub-container {
    width: 600px;
    
}

#img-and-header {
    background-image: url("./img/forest.jpg");
    background-size: 600px;
    width: 30%;
    background-repeat: no-repeat;
    background-position: 50%;
    max-width: 550px;
}

.inputbox {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-right: 10%;
}

#input-fields {
    flex-wrap: wrap;
    width: 70%;
}

.input-pairing {
    display: flex;
    width: 100%;
}

#header {
    height: 100px;
    margin-top: 200px;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: "OdinFont";
    font-size: 2.5em;
    padding: 20px 0px 20px 0px;
}

#logo {
    height: 2.5em;
}